<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We live and breath power distribution network research!</h2>
                <hr class="light">
                <p class="text-faded">The National Renewable Energy Laboratory (NREL) is a national leader in advancing research 
                    on electric power distribution systems, with deep expertise in modeling, simulation, optimization, and 
                    resilience assessment. NREL’s multidisciplinary teams work at the intersection of power systems engineering, 
                    data science, and advanced computing to address the evolving challenges of distributed energy integration, 
                    grid modernization, and climate resilience. From developing accurate synthetic test feeders to analyzing 
                    the operational impacts of high-penetration renewables, NREL plays a key role in informing both policy 
                    and practice for utilities, regulators, and technology developers.
                </p>
                <p class="text-faded">
                    NREL also leads in creating open, modular, and interoperable software solutions that enable detailed, 
                    scalable analysis of distribution networks. These software frameworks support a wide range of capabilities,
                     including model generation, temporal analysis, co-simulation, optimization, and AI-driven insights. 
                     By focusing on extensibility, transparency, and consistency across tools, NREL’s software ecosystem
                      empowers researchers and grid practitioners to explore advanced scenarios, conduct high-fidelity studies,
                       and accelerate innovation in electric power distribution.</p>
                <a href="#services" class="btn btn-default btn-xl btn page-scroll">Explore software solutions</a>
            </div>
        </div>
    </div>
</section>
