<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Software Suite</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <a href="https://nrel-distribution-suites.github.io/grid-data-models/" >
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-puzzle-piece wow bounceIn text-primary"></i>
                        <h3>Grid-Data-Models</h3>
                        <p class="text-muted">Foundational models for the distribution system.</p>
                    </div>
                </div>
            </a>
            <a href="https://nrel-distribution-suites.github.io/ditto/install.html" >
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-exchange wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>DiTTo</h3>
                        <p class="text-muted">An open-source tool for distribution system model conversion.</p>
                    </div>
                </div>
            </a>
            <a href="https://nrel-distribution-suites.github.io/shift/index.html" >
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-sitemap wow bounceIn text-primary"></i>
                        <h3>SHIFT</h3>
                        <p class="text-muted">A synthetic distribution model builder.</p>
                    </div>
                </div>
            </a>
            <a href="https://nrel-distribution-suites.github.io/erad/intro.html" >
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-fire wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>ERAD</h3>
                        <p class="text-muted">A framework for resilience analysis of distribution systems.</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="row"></div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-message-bot wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>CADET</h3>
                    <p class="text-muted">State-of-art distribution system optimization framework.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wechat wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>DistLLM</h3>
                    <p class="text-muted">An LLM interface to the entire DSS ecosystem.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-chart-network wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>DistAI</h3>
                    <p class="text-muted">A tool to build generative AI datasets for PyTorch Geometric.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>DistDB</h3>
                    <p class="text-muted">The most complete unit cost data for distribution systems.</p>
                </div>
            </div>
        </div>
    </div>
</section>
